body{
   background-image: url("https://i.postimg.cc/K8HnQBmZ/BG.png");
   background-size: 1400px 700px;
}
h1{
   font-family: 'Glass Antiqua', cursive;
   color: darkgreen;
   background-color: rgb(245, 211, 166);
   padding-left: 100px;
}

#show_sketch{
   float: right;
   margin-right: 10px;
   margin-top: 2.5px;
}

canvas{
   border: 5px solid white;
   border-radius: 20px;
   animation: example;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   margin-top: 80px;
   box-shadow: 20px 20px 4px 2px darkolivegreen;
}

 @keyframes example{
  from {box-shadow:1px 1px 38px , maroon;}
   to  {box-shadow: 1px 1px 38px rgb(0, 0, 0);}
 
}

p{
   padding-top: 10px;
   font-size: 25px;
   color:rgb(0, 0, 0);
   font-weight: 900;
}

.design{
   background-color: maroon;
   color: white;
}

.design:hover{
   background-color: rgb(165, 29, 4);
   color: white;
}